<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">NEWS HOUR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="buisiness/">Buisiness News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="sports/">Sports News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" routerLink="tech/">Technology News</a>
        </li>
      </ul>
      <button class="btn" (click)="onsubsribe()">Subscribe</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="text-center bg-dark p-3 text-white">
  <span>&copy;2022 Shaheen Ahmd | All Rights Are Reserved</span>
</footer>